.paginacion {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-block: 2rem;
  align-items: center;
}

.paginacion a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--text-muted);
  font-weight: 400;
  transition: background-color 0.2s;
  font-size: 0.9rem;
  display: flex;
  transition: all 0.3s;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;

&:hover {
  background-color: var(--text-primary);
}


svg {
  width: 1.1rem;
  height: 1.1rem;
  flex: 0 0 auto;
}

}

.isActive {
  background-color: var(--primary-hover);
  color: var(--text-primary);
}
